@font-face {
    font-family: Blackfat;
    src: url('res/fonts/blackfat.ttf');
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

/******************************************************/
/* HELP CLASSES */


.page-full {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.page-full>div{
	flex-grow: 1;
}

.bg-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content-ftr {
	align-self: flex-end;
	padding: 1em;
	box-shadow: 0 -1em 3em -.5em rgba(0,0,0,.5);
	color: #eee;
}

.alertCont {
	position: fixed;
	z-index: 10000;
	left: 50%;
	top: 10px;
	transform: translateX(-50%);
}
.bottom-pos{
	position: relative;
	margin-top:80vh;
}
.spacer {
	height: 25px;
}

.spacersmall {
	height: 10px;
}

/******************************************************/
/* PAGES */
.navbar {
	//background-color: rgba(20, 20, 20, .9);
	border: 0;
	box-shadow: 0 1em 3em -1em rgba(0,0,0,.5);
}
#searchbar span{
position: relative;
display: inline-block;
padding: 15px 15px;
line-height: 20px;

}
#searchbar li span:hover{
	text-decoration: none;
	background-color: #ccc;
}
#searchbar li div{
	padding-left: 15px;
}
#searchbar li div:hover{
	text-decoration: none;
	background-color: #ccc;
}
.navbar-brand img{
	//font-family: Blackfat;
	//font-size: 2em;
	height: 40px;
	margin-top: -10px;
}
.navbar .divider{
	//font-size: 1em;
	height: 100%;
	width: 2px;
	background-color: #fff;
	padding: 0;
}


#home {
	background-color: rgba(255, 255, 255, .8);
	padding: 2em;
	//display: none;
}
#home h1 {
	font-family: Blackfat;
	font-size: 3em;
}


#general {
	background-image: url('res/bg/general-2880.jpg');
}
#infogeneral {
	background-image: url('res/bg/info-2880.jpg');
}
#team {
	background-image: url('res/bg/team-1920.jpg');
}
#team .container {
    padding: 2em;
}
#team .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 1;
}
#team .person:hover {
    border-color: #f1f1f1;
}

#location {
	background-image: url('res/bg/location-288.jpg');
}

#products img{
	width: 80%;
	margin: 10%;
}

#products .description {
	margin: 10%;
}
/******************************************************/
/* MODALs Contact */

/*COMPLETE CONTACT INFORMATION*/
.contact-total span{
	font-weight: bold;
}
/* Search Box*/
.form-control #searchContactBox input{
	border:none;
	box-shadow: none;
}
/******************************************************/
/******************************************************/
/* LOGIN & REGISTER */

.modal-header {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 1.2em;
}

.modal-header, .modal-body {
    padding: 3em;
}

/******************************************************/
/* CONTACTS*/

/* Alphabetic search */
.modal-body .form-control #searchContactBox{
	display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: white;
background-color: white;
background-image: none;
border: white;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px white;
box-shadow: white;
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.letter{
	min-height: 3.4vh;
}
/* Dropdown information of Contact */
ul.nav li.dropdown:hover ul.dropdown-menu{
	display: block;
	margin-top:0px
}

.grow {
    height: 50px; /* Origional height */
    padding-top: 10px;
  
}

.meeting{
	box-sizing: inherit;
}
.userContact{
	font-size: 20px;
}
.grow:hover > .userContact{
	text-decoration: underline;
}
.additionalInformation{
	display: none;
	min-width: 95 vw;
	font-weight: bold;
}
.grow:hover > .additionalInformation{
	display: block;
}
.details{
	font-weight: normal;

}
.contactPic img{
	max-width: 5vw;
}

.sortBy{
	position: fixed;
	margin-top: 0px;
}
.alphabetSearch{
	position: fixed;
	margin-top: 20px;

}
#searchbar{
	background-color: #f2f2f2;
	display: block;
	margin-top: 50px;
	position:fixed;
	width: 100vw;
	z-index: 1;
	font-weight: bold;
}
.searchButton{

}
#allContacts{
	position: relative;
	margin-top: 70px;
}
/******************************************************/
/*CALENDAR*/
.orgCalendar{
	background-color: #d9d9d9;
	height: 100vh;
	width:20vw;
}