@font-face {
    font-family: Blackfat;
    src: url('res/fonts/blackfat.ttf');
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

/******************************************************/
/* HELP CLASSES */


.page-full {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.page-full>div{
	flex-grow: 1;
}

.bg-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content-ftr {
	align-self: flex-end;
	padding: 1em;
	box-shadow: 0 -1em 3em -.5em rgba(0,0,0,.5);
	color: #eee;
}

.alertCont {
	position: fixed;
	z-index: 10000;
	left: 50%;
	top: 10px;
	transform: translateX(-50%);
}
.bottom-pos{
	position: relative;
	margin-top:80vh;
}
.spacer {
	height: 25px;
}

.spacersmall {
	height: 10px;
}
/******************************************************/
/* MODALs GENERAL *************************************/

.modal-header {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 1.2em;
}

.modal-header, .modal-body {
    padding: 3em;
}

/******************************************************/
/* Homepage (incl. Company, Products) *****************/
#home {
	background-color: rgba(255, 255, 255, .8);
	padding: 2em;
	//display: none;
}
#home h1 {
	font-family: Blackfat;
	font-size: 3em;
}
#general {
	background-image: url('../res/bg/general-2880.jpg');
}
#infogeneral {
	background-image: url('../res/bg/info-2880.jpg');
}
#team {
	background-image: url('../res/bg/team-1920.jpg');
}
#team .container {
    padding: 2em;
}
#team .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 1;
}
#team .person:hover {
    border-color: #f1f1f1;
}

#location {
	background-image: url('../res/bg/location-288.jpg');
}

#products img{
	width: 80%;
	margin: 10%;
}

#products .description {
	margin: 10%;
}
/******************************************************/
/* Contactbook ****************************************/

/* Searchbar */
/* All buttons */
#searchbar{
	background-color: #f2f2f2;
	display: block;
	margin-top: 50px;
	position:fixed;
	width: 100vw;
	z-index: 1;
	font-weight: bold;
}

#searchbar div{
position: relative;
display: inline-block;
padding: 15px 15px;
line-height: 20px;
font-family: Helvetica;
font-weight: lighter;

}

#searchbar li div{
	padding: auto 0 auto 15px;
}

#searchbar li div:hover{
	text-decoration: none;
	background-color: #ccc;
}

/*Order By Button */

ul .dropdown .dropdown-menu{
	min-width: 140px;
	text-align: center;

}

/* to separate buttons*/
.navbar .divider{
	height: 100%;
	width: 2px;
	background-color: #fff;
	padding: 0;
}
/* Buttons to order alphabetically */
#searchbar .active  {
  background-color: #ccc;
}
.filter li {
  display: inline;
}
ul .filter{
	margin-top: 15px;
}
#searchbar .letters{
	padding: 0 7px 0 7px;
	font-family: Helvetica;
  	font-weight: lighter;
}


/* Searchbox */
#searchContactBox{
	margin-top: 5px;
	min-width: 400px;
	min-height: 40px;
}
#searchContactBox input{
	border:none;
	box-shadow: none;
}
/* Normal/ Hover/ Click-on information of Contact */

.grow {
    height: 50px; /* Needed, to be smooth while hover */
    padding-top: 10px;
  
}

.userContact{
	font-size: 20px;
}
.grow:hover > .userContact{
	text-decoration: underline;
}
.additionalInformation{
	display: none;
	min-width: 95 vw;
	font-weight: bold;
}
.grow:hover > .additionalInformation{
	display: block;
}
.details{
	font-weight: normal;

}

/* MODALs Contact *************************************/
.contact-total span{
	font-weight: bold;
}
/* Add Contact Modal*/
/* Chose buttons */
div[data-toggle="buttons"] label {
display: inline-block;
padding: 2px 12px;
line-height: 2em;
vertical-align: top;
cursor: pointer;
background-color: white;
border: 1px solid #c8c8c8;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.gettitel{
	min-width: 100px;
}
/* Display Total Information Modal */
.contactPic img{
	max-width: 5vw;
}

/*****************************************************/
/* Inbox *********************************************/
#messagebar{
	background-color: #f2f2f2;
	display: block;
	margin-top: 50px;
	position:fixed;
	width: 100vw;
	z-index: 1;
	font-weight: bold;
}

#messagebar div{
position: relative;
display: inline-block;
padding: 8px 8px;
line-height: 20px;
font-family: Helvetica;
font-weight: lighter;

}

#messagebar #newMessageButton{
	display: inline-block;
	padding: 2px 12px;
	line-height: 2em;
	vertical-align: top;
	cursor: pointer;
	background-color: white;
	border: 1px solid #c8c8c8;
	color: #c8c8c8;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#messagebar .messagenavbutton{
	min-width: 70px;
}

#searchMessageBox{
	min-width: 340px;
	line-height: 22px;
}
#searchMessageBox input{
	border:none;
	box-shadow: none;
}
/*Single Message in Inbox */
.shortMessage{
background-color: #fafcb6;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
}
.longMessage{
background-color: #d0e2fb;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
}
.shortMessageBusiness{
background: repeating-linear-gradient(
  -45deg,
  #fafcb6,
  #fafcb6 10px,
  #f6fa85 10px,
  #f6fa85 20px
);
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
}
.longMessageBusiness{
background: repeating-linear-gradient(
  -45deg,
  #d0e2fb,
  #d0e2fb 10px,
  #a1c5f7 10px,
  #a1c5f7 20px
);
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
}
.messageContainer{
	height: 25px;
}
.messageSender{
	font-size: 15px;
}
.messageInfo{
	font-size: 15px;
}

/************************************************/
/*Message Modal*/
.messageFooter{
	max-height: 30px;
}