<div ng-if="message.id==787393286" style=" list-style-type: none; text-align:right">   
    <div class="generalSentence userSentence" >
              <div class="row">
                <div class="col-sm-20">
                  <div class="dialogText" >{{message.prosa}}</div> 
                </div>
              </div>

              <div class="row">
                <div class="col-sm-14">
                  <div class="dialogDate" style="font-size:15px">{{message.sentdate | date}}</div>
                </div>
                <div class="col-sm-2">
                  <img style="height: 20px" ng-src="{{message.postman == 'Mail' && 'res/postman/mail.png' || message.postman == 'WhatsApp' && 'res/postman/wa.png' || message.postman == 'Facebook' && 'res/postman/fb.png' || message.postman == 'Contactify' && 'res/postman/cf.png' || message.postman == 'Telegram' && 'res/postman/tg.png'}}" />
                </div>
              </div>
    </div>

    <div style="clear: left;"></div>
</div>

<div ng-if="message.id==787542589" style=" list-style-type: none">   
    <div class="generalSentence interlocutorSentence" >
              <div class="row">
                <div class="col-sm-20">
                  <div class="dialogText" >{{message.prosa}}</div> 
                </div>
              </div>

              <div class="row">
                <div class="col-sm-14">
                  <div class="dialogDate" style="font-size:15px">{{message.sentdate | date}}</div>
                </div>
                <div class="col-sm-2">
                  <img style="height: 20px" ng-src="{{message.postman == 'Mail' && 'res/postman/mail.png' || message.postman == 'WhatsApp' && 'res/postman/wa.png' || message.postman == 'Facebook' && 'res/postman/fb.png' || message.postman == 'Contactify' && 'res/postman/cf.png' || message.postman == 'Telegram' && 'res/postman/tg.png'}}" />
                </div>
              </div>
    </div>

    <div style="clear: left;"></div>
</div>
