<!-- Navigationbar of Messenger -->
<nav class="navbar">
    <div class="container-fluid">
    
    <!-- Toggle in case of SMALL device -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchbar">
        <span class="caret"></span>
      </button>
    </div>
    </div>
    <div class="collapse navbar-collapse" id="messagebar">
      <!-- Different buttons of navigationbar -->
     <ul class="nav navbar-nav">
 
      </ul>
    </div>
</nav>

        </div>
      </div>
</div>