/* GENERAL **********************************************/
$standard-grey: #dddddd;

/* MESSAGES *********************************************/
$short-message-bg: #fafcb6; 			/* Light Yellow */
$short-message-dark: #f6fa85; 			/* Dark Yellow **/
$long-message-bg: #d0e2fb;  			/* Light Blue ***/
$long-message-dark: #a1c5f7;			/* Dark Blue ****/