<!-- Space between navigation bar and Content -->
    <div class="spacersmall"></div>
<div id="general" class="page-full bg-img">
  <div class="bottom-pos">
	<div class="row content-ftr bg-primary" >
		<div class="col-sm-20" >
			<div class="row" >
				<div class="col-sm-5"></div>
				<div class="col-sm-10" >
					<p>Business starts with a firm handshake – and then?  </p>
					<h2>Contactify</h2>
					<p>The one platform to manage your network. All your contacts, business cards, communication channels and messages, cut down to the essentials and integrated into a single application, simple, elegant and secure. </p>
				</div>
				<div class="col-sm-5"></div>
			</div>
		</div>
	</div>
  </div>
</div>
