<li class="list-group-item">   
    <div class="grow">
        <contact-total contact="contact"></contact-total>
              <div class="col-sm-4 userContact">
                <span data-toggle="modal" data-target="{{ '#contact' + contact.id }}">{{contact.firstname}} {{contact.lastname}}</span>
              </div>
              <div class="col-sm-3 additionalInformation">
                  <div class="contactInfo details">
                    <div class="contactPhone">{{contact.id}}</div>
                    <div class="contactMail">{{contact.mail}}</div>
                  </div>
              </div>
            <div class="col-sm-7 additionalInformation">
              <a href="#">Last Message</a>
                  <div class="lastMessage details">{{contact.lastmessage | limitTo:50}} ...</div>
            </div>
                <div class="col-sm-3 meeting additionalInformation">
                  <a href="#">Last Meeting </a> 
                  <div class="details">{{contact.lastmeeting | date}}</div>
                </div>
                <div class="col-sm-3 meeting additionalInformation">
                  <a href="#">Next Meeting </a> 
                  <div class="details">{{contact.nextmeeting | date}}</div>
                </div>
        </div>
    </div>

    <div style="clear: left;"></div>
</li>