<!-- Navigationbar of Messenger -->
<nav class="navbar">

    <div id="inboxNavigation">
      <!-- Different buttons of navigationbar -->
          <div class="btn-group btn-group-horizontal button-container">
                          <label class="btn title-button" id="newMessageButton">
                              <span  class="messagenavbuttonMobile" data-toggle="modal" data-target="#newMessagemodal"><span class="glyphicon glyphicon-pencil"></span></span>
                          </label>
          </div>
          <div class="btn-group btn-group-horizontal button-container" data-toggle="buttons">
                          <label class="btn active title-button messagenavbuttonMobile" ng-click="sortByChronos('importance')">
                              <span class="glyphicon glyphicon-star-empty"></span>
                          </label>                    
                          <label class="btn title-button messagenavbuttonMobile" ng-click="sortByChronos('sentdate')">
                              <span class="glyphicon glyphicon-time"></span>
                          </label>

          </div>
          <div class="btn-group btn-group-horizontal button-container" data-toggle="buttons">
                          <label class="btn active title-button messagenavbuttonMobile" ng-click='filterIsBusiness="all"'>
                              <span>All</span>
                          </label>                    
                          <label class="btn title-button messagenavbuttonMobile" ng-click='filterIsBusiness="yes"'>
                              <span class="glyphicon glyphicon-briefcase"></span>
                          </label>
                          <label class="btn title-button messagenavbuttonMobile" ng-click='filterIsBusiness="no"'>
                              <span class="glyphicon glyphicon-glass"></span>
                          </label>
          </div>
          <div class="btn-group btn-group-horizontal button-container" data-toggle="buttons">
                          <label class="btn active title-button messagenavbuttonMobile" ng-click='filterByLength="all"'>
                              <span>All</span>
                          </label>                    
                          <label class="btn title-button messagenavbuttonMobile" ng-click='filterByLength="long"'>
                              <span class="glyphicon glyphicon-envelope"></span>
                          </label>
                          <label class="btn title-button messagenavbuttonMobile" ng-click='filterByLength="short"'>
                              <span class="glyphicon glyphicon-transfer"></span>
                          </label>
          </div>
    </div>
</nav>
<!-- Space between navigation bar and Content -->
    <div class="spacer"></div>
  <!-- Directive for modal-form to add Contact -->
    <new-message submit-func='postNewMessage'></new-message>
<!-- Contactlist -->
<div class="main">
      <div id="inboxContainer">
         <!-- Add all contacts from contactlist -->
         <div class="singleMessage" ng-repeat="message in showmessages | filter:search"  ng-show="sortByLength(message, filterByLength, filterIsBusiness)">
			   <!-- Single Contact from Contactlist -->
				<single-message-mobile onclick="location.href='#/dialog'" style="cursor:pointer;" message="message" ></single-message-mobile>

        </div>
      </div>
</div>