 <div class="modal fade" dismiss-modal id="addContactmodal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <!--Titel of modal --> 
      <div class="modal-header">
        <h4>Add Contact</h4>
      </div>

      <!-- Form -->
      <div class="modal-body">
        <form role="form" name="addContactform" novalidate>
            <!-- Part I Name-->
            <div class="form-group">
                <label for="add-form-first-name">Name</label>
                    <br>
                <div class="btn-group btn-group-horizontal button-container" data-toggle="buttons">
                    <label class="btn active title-button" ng-model="contact.titel">
                        <input type="radio" name='titel' checked><span>Mr.</span>
                    </label>
                    <label class="btn title-button" ng-model="contact.titel">
                        <input type="radio" name='titel'><span>Mrs.</span>
                    </label>
                    <label class="btn title-button" ng-model="contact.titel">
                        <input type="radio" name='titel'><span>Miss</span>
                    </label>
                    <label class="btn title-button" ng-model="contact.titel">
                        <input type="radio" name='titel'><span>Dr.</span>
                    </label>
                    <label class="btn title-button" ng-model="contact.titel">
                        <input type="radio" name='titel'><span>Prof.</span>
                    </label>
                </div>
                    <br>
                    <br>
                    <input type="text" class="form-control" id="add-form-first-name" placeholder="First" ng-model="contact.firstname" name="firstname"><br>
                    <input type="text" class="form-control" id="add-form-last-name" placeholder="Last" ng-model="contact.lastname" name="lastname">
            </div>
                        <!-- Part II Priority-->
            <div class="form-group">
                <label for="add-form-first-name">Priority</label>
                    <br>
                <div class="btn-group btn-group-horizontal button-container" data-toggle="buttons">
                    <label class="btn title-button" ng-model="contact.titel">
                        <input type="radio" name='titel' checked><span>1</span>
                    </label>
                    <label class="btn title-button" ng-model="contact.titel">
                        <input type="radio" name='titel'><span>2</span>
                    </label>
                    <label class="btn title-button" ng-model="contact.titel">
                        <input type="radio" name='titel'><span>3</span>
                    </label>
                    <label class="btn title-button" ng-model="contact.titel">
                        <input type="radio" name='titel'><span>4</span>
                    </label>
                    <label class="btn active title-button" ng-model="contact.titel">
                        <input type="radio" name='titel'><span>No priority</span>
                    </label>
                </div>
            </div>
           <!-- Part III Company--> 
            <div class="form-group">
                <label for="add-form-comp">Company</label>
                    <!-- ng-model makes it possible to directly POST content to server -->
                    <input type="text" class="form-control" id="add-form-comp" placeholder="Company" ng-model="contact.company" name="company">
            </div>
            <!-- Part IV Phone number= ID -->
            <div class="form-group">
               <label for="add-form-id">Phone number</label>
                    <input type="text" class="form-control" id="add-form-last-name" placeholder="mobile phone number" ng-model="contact.id" name="addee_id">
            </div>

            <!-- Part V Address -->
            <div class="form-group">
                <label for="add-form-addr">Address</label>
                    <input type="text" class="form-control" id="add-form-addr" placeholder="Address Line" ng-model="contact.address" name="address"><br>
                    <input type="text" class="form-control" id="add-form-postal" placeholder="Zip Code" ng-model="contact.zipcode" name="zipcode"><br>
                    <input type="text" class="form-control" id="add-form-addr" placeholder="City" ng-model="contact.city" name="city"><br>
                    <input type="text" class="form-control" id="add-form-addr" placeholder="Country" ng-model="contact.country" name="country">
            </div>

            <!-- Part VI Email -->
            <div class="form-group">
                <label for="add-form-user">E-Mail</label>
                    <input type="email" class="form-control" id="add-form-user" ng-model="contact.mailaddr" name="mailaddr">
            </div>  

        <div class="modal-footer">
        <br>
            <!-- Add OR Cancel -->
            <button type="submit" class="btn btn-success pull-left" name="submit" ng-click="submitWrapper(contact)">Add</button>
            <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
        </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>
