<!-- Navigationbar of Contactbook -->
<nav class="navbar">
    <div class="container-fluid">
    
    <!-- Toggle in case of SMALL device -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchbar">
        <span class="caret"></span>
      </button>
    </div>
    </div>
    <div class="collapse navbar-collapse" id="searchbar">
      <!-- Different buttons of navigationbar -->
      <ul class="nav navbar-nav">
        <li><span id="addButton" data-toggle="modal" data-target="#addContactmodal">Add</span></li>
        <li><a class="divider"></a></li>
        <li><span  id="sortFirstButton" data-toggle="modal" data-target="#login-modal" ng-click="sortBy('firstname')">First Name</span></li>
        <span class="sortorder" ng-show="propertyName === 'firstname'" ng-class="{reverse: reverse}"></span>
        <li><a class="divider"></a></li>
        <li><span  id="sortLastButton" data-toggle="modal" data-target="#login-modal" ng-click="sortBy('lastname')">Last Name</span></li>
        <span class="sortorder" ng-show="propertyName === 'lastname'" ng-class="{reverse: reverse}"></span>
        <li><a class="divider"></a></li>
        <li><div class="searchButton" data-toggle="modal" data-target="#searchContact">Search<span class="glyphicon glyphicon-search searchButton"></span></div></li>
      </ul>
    </div>
</nav>
	<!-- Directive for modal-form to add Contact -->
		<add-contact submit-func='postContact'></add-contact>
  <!-- Search Modal -->
  <div id="searchContact" class="modal" role="dialog">
    <div class="modal-dialog" >

        <form role="form" name="searchForm">
            <input type="text" class="form-control" id="searchContactBox"  ng-model="search.$" placeholder="Search" name="search">
        </form>

    </div>
  </div>


<!-- Space between navigationbar and Contactlist -->
<div class="spacer"></div>
<div class="spacersmall"></div>
<!-- Contactlist -->
<div class="main">
      <div class="container">
         <!-- Add all contacts from contactlist -->
         <div class="singleContact" ng-repeat="contact in contacts | filter:search">
			   
			   <!-- Single Contact from Contactlist -->
				<contact-info contact="contact" ></contact-info>

        </div>
      </div>
</div>