<div  ng-if="message.prosa.length>200 && message.business=='no'" class="longMessageMobile" data-ng-hide="shortHidden">   
    <div class="messageContainer">
            <div class="infoRow">
              <div class="infoCellLarge">
                <div class="messageSender" >{{message.interlocutor}}</div>  <!-- data-toggle="modal" data-target="{{ '#contact' + contact.id }}" -->
              </div>
                <div class="infoCellSmall">
                      <div class="messageInfo">
                          <span ng-if="checkDateDifference(message.sentdate) == true" am-time-ago="message.sentdate"></span>
                          <div ng-if="checkDateDifference(message.sentdate) == false" class="messageInfo">{{message.sentdate | date : 'shortDate'}}</div>
                      </div>                  
                </div>
                <div class="logoMobile">
                  <img style="height: 15px" ng-src="{{message.postman == 'Mail' && 'res/postman/mail.png' || message.postman == 'WhatsApp' && 'res/postman/wa.png' || message.postman == 'Facebook' && 'res/postman/fb.png' || message.postman == 'Contactify' && 'res/postman/cf.png' || message.postman == 'Telegram' && 'res/postman/tg.png'}}" />
                </div>
            </div>
              <div class="contentRow">
                  <div class="messageInfo">{{message.prosa | limitTo:30}} ...</div>
            </div>
        </div>

    <div style="clear: left;"></div>
</div>
<div ng-if="message.prosa.length<=200 && message.business=='no'" class="shortMessageMobile" data-ng-hide="longHidden">   
    <div class="messageContainer"  >
            <div class="infoRow">
              <div class="infoCellLarge">
                <div class="messageSender" >{{message.interlocutor}}</div>  <!-- data-toggle="modal" data-target="{{ '#contact' + contact.id }}" -->
              </div>
                <div class="infoCellSmall">
                      <div class="messageInfo">
                          <span ng-if="checkDateDifference(message.sentdate) == true" am-time-ago="message.sentdate"></span>
                          <div ng-if="checkDateDifference(message.sentdate) == false" class="messageInfo">{{message.sentdate | date : 'shortDate'}}</div>
                      </div>                  
                </div>
                <div class="logoMobile">
                  <img style="height: 15px" ng-src="{{message.postman == 'Mail' && 'res/postman/mail.png' || message.postman == 'WhatsApp' && 'res/postman/wa.png' || message.postman == 'Facebook' && 'res/postman/fb.png' || message.postman == 'Contactify' && 'res/postman/cf.png' || message.postman == 'Telegram' && 'res/postman/tg.png'}}" />
                </div>
            </div>
              <div class="contentRow">
                  <div class="messageInfo">{{message.prosa | limitTo:30}} ...</div>
            </div>
        </div>

    <div style="clear: left;"></div>
</div>
<div  ng-if="message.prosa.length>200 && message.business=='yes'" class="longMessageBusinessMobile" data-ng-hide="shortHidden">   
    <div class="messageContainer">
     <!--   <contact-total contact="contact"></contact-total> -->
            <div class="infoRow">
              <div class="infoCellLarge">
                <div class="messageSender" >{{message.interlocutor}}</div>  <!-- data-toggle="modal" data-target="{{ '#contact' + contact.id }}" -->
              </div>
                <div class="infoCellSmall">
                      <div class="messageInfo">
                          <span ng-if="checkDateDifference(message.sentdate) == true" am-time-ago="message.sentdate"></span>
                          <div ng-if="checkDateDifference(message.sentdate) == false" class="messageInfo">{{message.sentdate | date : 'shortDate'}}</div>
                      </div>                  
                </div>
                <div class="logoMobile">
                  <img style="height: 15px" ng-src="{{message.postman == 'Mail' && 'res/postman/mail.png' || message.postman == 'WhatsApp' && 'res/postman/wa.png' || message.postman == 'Facebook' && 'res/postman/fb.png' || message.postman == 'Contactify' && 'res/postman/cf.png' || message.postman == 'Telegram' && 'res/postman/tg.png'}}" />
                </div>
            </div>
              <div class="contentRow">
                  <div class="messageInfo">{{message.prosa | limitTo:30}} ...</div>
            </div>
    </div>

    <div style="clear: left;"></div>
</div>
<div ng-if="message.prosa.length<=200 && message.business=='yes'" class="shortMessageBusinessMobile" data-ng-hide="longHidden">   
    <div class="messageContainer"  >
            <div class="infoRow">
              <div class="infoCellLarge">
                <div class="messageSender" >{{message.interlocutor}}</div>  <!-- data-toggle="modal" data-target="{{ '#contact' + contact.id }}" -->
              </div>
                <div class="infoCellSmall">
                      <div class="messageInfo">
                          <span ng-if="checkDateDifference(message.sentdate) == true" am-time-ago="message.sentdate"></span>
                          <div ng-if="checkDateDifference(message.sentdate) == false" class="messageInfo">{{message.sentdate | date : 'shortDate'}}</div>
                      </div>  
                </div>
                <div class="logoMobile">
                  <img style="height: 15px" ng-src="{{message.postman == 'Mail' && 'res/postman/mail.png' || message.postman == 'WhatsApp' && 'res/postman/wa.png' || message.postman == 'Facebook' && 'res/postman/fb.png' || message.postman == 'Contactify' && 'res/postman/cf.png' || message.postman == 'Telegram' && 'res/postman/tg.png'}}" />
                </div>
            </div>
              <div class="contentRow">
                  <div class="messageInfo">{{message.prosa | limitTo:30}} ...</div>
            </div>
        </div>

    <div style="clear: left;"></div>
</div>