<div  ng-if="message.prosa.length>200" class="longMessageThread">   
    <div class="messageContainer">
          <div class="row">
                <div class="col-sm-14">
                  <div class="messageSender" >{{message.interlocutor}}</div>  <!-- data-toggle="modal" data-target="{{ '#contact' + contact.id }}" -->
                </div>
                <div class="col-sm-6">
                  <div class="messageInfo">{{message.sentdate | date : 'shortDate'}}</div>
                </div>
          </div>
    </div>
</div>
<div ng-if="message.prosa.length<=200" class="shortMessageThread">   
    <div class="messageContainer">
          <div class="row">
                <div class="col-sm-14">
                  <div class="messageSender" >{{message.interlocutor}}</div>  <!-- data-toggle="modal" data-target="{{ '#contact' + contact.id }}" -->
                </div>
                <div class="col-sm-6">
                  <div class="messageInfo">{{message.sentdate | date : 'shortDate'}}</div>
                </div>
          </div>
    </div>
</div>